


:root {
    --primary: #4361ee;
    --secondary: #3f37c9;
    --success: #4cc9f0;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fa;
    --dark: #212529;
    --purple: #7209b7;
    --teal: #20c997;
    --pink: #e83e8c;
    --cyan: #0dcaf0;
    --mango: #FFC107;
    --mango-dark: #E6A000;
}

.body  {
    background: linear-gradient(135deg, rgb(34, 171, 250) 0%, #ffffffff 100%);
    font-family: 'Kanit', sans-serif;
    /* ใช้ฟอนต์ Kanit สำหรับทั้งเว็บไซต์ */
   
}

/* ลบขีดเส้นใต้และกำหนดรูปแบบลิงก์สำหรับเมนู */
.menu-item {
    text-decoration: none;
    color: #000;
    /* สีข้อความดำ */
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
    /* ลบขอบ card */
}

/* Effect เมื่อวางเมาส์เหนือปุ่ม */
.menu-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
}

/* ปรับสีพื้นหลังหลัก */
.bg-primary {
    background-color: var(--info);
}

.profile-image {
    width: 150px;
    /* กำหนดขนาดวงกลมที่คุณต้องการ */
    height: 150px;
    /* ต้องเท่ากับ width เพื่อให้เป็นวงกลม */
    border-radius: 50%;
    /* ทำให้ div เป็นวงกลม */
    background-image: url('https://scontent.futh1-1.fna.fbcdn.net/v/t39.30808-6/528889843_4242583999353614_5256576025221137006_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=BBrBNVObQwcQ7kNvwHSIbE6&_nc_oc=AdnlQDVvLAeELU93pF45r85npR-Wx1z3cBnAco_BLwdeN3iCDQOCZnszS-eJcRWrYms&_nc_zt=23&_nc_ht=scontent.futh1-1.fna&_nc_gid=sci9qHtLSTt9stDtyh1zqA&oh=00_AfigGgE63i5Vv59WSn3z2HesR9BKKjeoc9g-SgTKPZqhRQ&oe=692E539F');
    background-size: cover;
    /* ทำให้รูปพื้นหลังครอบคลุมพื้นที่ */
    background-position: center;
    /* จัดตำแหน่งรูปให้อยู่ตรงกลาง */
    background-repeat: no-repeat;
    /* ไม่ให้รูปซ้ำ */

    /* คลาส Bootstrap อื่นๆ ยังคงอยู่ */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    background-color: lightblue;
    /* ใช้ bg-light แทน */
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    /* ใช้ shadow-sm แทน */
    display: flex;
    /* ใช้ d-flex แทน */
    align-items: center;
    /* ใช้ align-items-center แทน */
    justify-content: center;
    /* ใช้ justify-content-center แทน */
}